$color-white: #ffffff;
$color-gray: #dcdcdc;
$color-black: #000000;
$color-red: #ce021e;
$color-light-red: #e67f8d;
$color-transparent: transparent;

$sora-color-waring: #FB8476;
$sora-color-light-waring: #FBF0EF;

$sora-color-blue: #6FC2D6;
$sora-color-light-blue: #DAEDF3;
$sora-color-nav-home-blue: #BDDCE6;

$sora-color-background: #F1F6F9;
$sora-color-gray: #435050;
$sora-color-text-gray: #6C7D7D;
$sora-color-icon-nav-gray: #8B9397;
$sora-color-icon-nav-light-gray: #C1C3C5;
$sora-color-plan-background: #ecefef;
$sora-color-light-background: #F5F7F8;
$sora-color-tag: #919595;
$sora-border-gray: #707070;
