<template>
  <div class="wrapper-statistic">
    <v-row>
      <v-col cols="3" class="overview-item">
        <v-card>
          <h3>TỔNG SỐ NÚT GIAO THÔNG</h3>
          <v-card-actions>
            <strong>100</strong>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col cols="3" class="overview-item">
        <v-card>
          <h3>TÌNH TRẠNG TẮC ĐƯỜNG</h3>
          <v-card-actions>
            <strong>60%</strong>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <div class="search">
          <div class="form-group section-search-item-map">
            <v-icon>mdi-magnify</v-icon>
            <input type="text" placeholder="Nhập tên riêng">  
          </div>
        </div>
        <div class="wrap-chips">
          <v-btn class="ma-2" outlined color="#15a397" v-for="(item, index) in nodeStatistic" :key="index" @click.prevent="handleSelectNode(item.id)">{{item.name}}</v-btn>
        </div>
      </v-col>
      <v-col cols="12" align="left" class="detail-node">
        <h2 class="text-uppercase">Cầu Rồng - Ngũ Hành Sơn</h2>
        <v-row>
          <v-col cols="8">
            <ul>
              <li>
                <h3 class="text-uppercase">Thống kê trong 1 ngày qua</h3>
              </li>
              <li>
                <p><v-icon>mdi-arrow-right</v-icon>Thời gian tắc đường vào giờ cao điểm</p>
                <small>Số giờ: 12 giờ</small>
                <small>Thời điểm tắc nhiều nhất: Từ 17h00 - 18h00</small>
              </li>
              <li>
                <p class="text-uppercase text-normal"><v-icon>mdi-arrow-right</v-icon>Dự đoán tắc đường vào giờ cao điểm tiếp theo </p>
                <v-progress-linear
                  color="#03a9f4"
                  height="15"
                  value="100"
                  striped
                  reactive
                >
                   <strong>100%</strong>
                </v-progress-linear>
              </li>
              <li>
                <p class="text-uppercase text-normal"><v-icon>mdi-arrow-right</v-icon>Các thời điểm tắc đường trong ngày</p>
                <small>Từ 17h00 - 18h00</small>
                <v-timeline
                  align-top
                  dense
                >
                  <v-timeline-item
                    color="#03a9f4"
                    small
                  >
                    <p>Tắc đường vào lúc: 17h30 - 18h00</p>
                    <p>Nguyên nhân: Mật động lưu thông đông</p>
                  </v-timeline-item>
                  <v-timeline-item
                    color="#03a9f4"
                    small
                  >
                    <p>Tắc đường vào lúc: 12h30 - 21h00</p>
                    <p>Nguyên nhân: Xảy ra tai nạn</p>
                  </v-timeline-item>
                </v-timeline>
              </li>
            </ul>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { centerMaps, nodeStatistic, hours } from '../utils/helper'
export default {
  name: "statistic",
  methods: {
    selectedNode: '',
    activeNodeStatistic: {}
  },
  computed: {
    nodeStatistic() {
      return nodeStatistic
    }
  },
  methods: {
    async handleSelectNode(id) {
      console.log('ID', id)
    }
  },
  beforeMount() {
    this.selectedNode = nodeStatistic[0].id
    this.activeNodeStatistic = nodeStatistic[this.selectedNode]
    console.log('selectedNode', this.selectedNode)
  }
}
</script>

<style lang="scss">
.wrapper-statistic {
  .overview-item {
    h2 {
      padding-top: 15px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.5rem;
    }
    .v-card__actions {
      display: flex;
      justify-content: center;
      font-size: 14px;
      strong {
        font-size: 2rem;
        text-align: center; 
      }
    }
  }
  .detail-node {
    width: 100%;
    ul {
      width: 100%;
      border: 1px solid #e0e0e0;
      padding: 10px 0;
      height: 100%;
       li {
        display: block;
        margin-bottom: 15px;
        padding: 10px 0;
        font-weight: bold;
        color: #72777a;
        p {
          font-size: 16px;
          margin-bottom: 5px;
        }
        small {
          margin-bottom: 5px;
          display: block;
        }
       }
    }
  }
  .wrap-chips {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;

    button {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }

  .search {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    .section-search-item-map {
      width: 100%;
      position: relative;

      .v-icon {
        position: absolute;
        top: 0;
        left: 0;
        height: 40px;
        width: 40px;
      }

      input {
        position: relative;
        max-width: 500px;
        width: 100%;
        height: 40px;
        border: 1px solid #c4c4c4;
        padding-left: 40px;
      }
    }
  }
}
</style>